.gameCell {
  width: 75px;
  height: 75px;
  /* background-color: black;
  display: flex;
  align-items: center;
  justify-content: center; */

}

.gameCell-status {
  /* background: white; */
  width: 80%;
  height: 80%;
  border-radius: 100%;
}

/* .gameCell-status.red {
  background: red;
}
.gameCell-status.blue {
  background: blue;
} */
.gameCell-status.empty {
  background: white;
} 

.playerScore {
  max-width: 225px;
  width: 45vw; 
}

.gameParent {
  width: fit-content;
  position: relative;
}

.gameOver{
  position: absolute;
  bottom: 70px;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 450px;
  height: 200px;
}

.newGame {
  outline: none;
  border: none;
  background: none;
}
.newGame:hover {
  cursor: pointer;
}